body {
	background: url("images/palms.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-family: 'Century Gothic', monospace;
	padding: 0 20px;
	text-align: center;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
}
	
hr {
  width: 200px;
}
#slogan {
	color:#C2C2D6;
	font-size: 20px;
	font-style: italic;
}
