/* MAIN */

*{margin:0;padding:0;box-sizing:border-box;}

body {
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
  font-size: 20px;
}

title {
	text-transform: uppercase;
}

span {
	text-decoration: underline;
}

a {
	text-decoration: none;


/* NAV BAR */

}
nav {
margin: 6em auto;
width: 50em;
}

.nav-left {
float: left;
width: 12em;
margin-left: 1.7em;
margin-top: 1.3em;
}

.nav-left a:link, .nav-left a:visited {
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 800;
font-size: .7em;
line-height: .7em;
color: #535352;
letter-spacing: .1em;
}

.nav-left a:hover {
color: #D7E01F;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 500ms;
}

.nav-left-1 {
float: left;
width: 6em;
border-right: .05em solid #959595;
text-align: justify;
padding-top: 1.3em;
height: 95px;
}

.nav-left-2 {
float: left;
width: 6em;
text-align: justify;
padding-left: 1.5em;
padding-top:1.3em;
height: 2.7em;
}

.nav-left-clear {
clear: both;
}

.logo {

float: left;
text-align: center;
width: 40%;
}

.nav-right {
float: right;
width: 12em;
margin-right: 4.3em;
margin-top: 1.3em;
}

.nav-right a:link, .nav-right a:visited {
font-family: "Open Sans",sans-serif;
font-weight: 800;
font-size: .7em;
line-height: .7em;
color: #535352;
letter-spacing: .05em;
}

.nav-right a:hover {
color: #D7E01F;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 500ms;
}

.nav-right-1 {
float: left;
width: 6em;
border-right: .05em solid #959595;
text-align: justify;
padding-top: 1.3em;
height: 4.25em;
}

.nav-right-2 {
float: right;
width: 6em;
text-align: justify;
padding-left: 1.5em;
padding-top: 1.3em;
height: 85px;
}

.nav-right-clear {
clear: both;
}

.nav-clear {
clear: both;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

/* HOMEPAGE */

h1 {
text-align: center;
font-family: "Quicksand",sans-serif;
text-transform: uppercase;
font-weight: 300;
font-size: 2.3em;
line-height: 1.8em;
letter-spacing: .02em;
color: #525251;
padding-top: 7%;
padding-bottom: 7%;
}

#MyWork {
  max-width: 100%;
 padding: 2.5em;
  margin: 4.5em;
  }
 
 #MyWork img {
  width: 100%;
 }

 #imagelist {
  font-size: 0;
  max-width: 1400px;
  margin: 0 auto;
 }
#imagelist img {
	width:33.33%;
}
 #imagelist a:hover {
  opacity: .5;
 }
 
 /* CURRENT WORK */

.project-container {
  max-width: 960px;
margin: 0 auto;
}

.project-container img {
  width:100%;

}
.project-images {
margin: 0, auto;
width: 960px;
padding-bottom: 30px;
}

.personalprojects {
  padding-bottom: 1em;
}

figure {
  vertical-align:top;
  max-width:auto;
  height: auto;
  position:relative;
  overflow:hidden;
}

.fade figcaption {
background-color: rgba(223,230,76,.6);
font-family: "Quicksand",sans-serif;
font-weight: 400;
font-size: 1.5em;
line-height: 1.1em;
text-align: center;
letter-spacing: .01em;
  position:absolute;
  top:0px;
  width:100%;
  height:100%;
  color: #525251;
  line-height:250px;
}

.fade figcaption {
  color: #535352;
  opacity:0;
  transition:opacity 0.5s ease;
}

.fade figcaption:hover {
  opacity:1;
  cursor: pointer;
}



span {
 text-decoration: underline;
}

/* ABOUT ME */

.aboutme-heading {
text-align: center;
font-family: "Quicksand",sans-serif;
text-transform: uppercase;
font-weight: 300;
font-size: 2.5em;
line-height: 1.6em;
letter-spacing: 4px;
color: #525251;
margin-top: 35px;
}

.aboutmecontainer {
margin: 0 auto;
max-width: 60%;
}

.aboutme-about {
display: block;
text-align: justify;
font-family: "Lato",sans-serif;
color: #4F4E4E;
font-size: 1em;
line-height: 1.6em;
margin-bottom: 2.25em;
padding: 1em;
}

.picofme {
max-width: 20%;
margin-left: 24em;
margin-right: 26em;
margin-bottom: 9em;
}



/* PERSONAL PROJECTS */

.personalblurb {
  width: 100%;
  padding-bottom: 3em;
}

p {
text-align: center;
font-family: "Lato",sans-serif;
color: #4F4E4E;
font-size: 1em;
font-weight: 300;
}


/* SOCIAL MEDIA */

h3 {
text-align: center;
font-family: "Quicksand",sans-serif;
text-transform: uppercase;
font-weight: 300;
font-size: 2.5em;
line-height: 1.2em;
letter-spacing: .02em;
color: #525251;
margin-top: 1.1em;
}

#socialmedia {
  display: block;
  text-align: center;
   padding: 1.5em;

}

#socialmedia a:hover {
  opacity: .6;
 }
 
 /*********************
	Hamburger Menu
**********************/

.mobile-nav {
	display:none;
}
.menu-btn {
	background:#D7E01F;
  padding:1em;
}
.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
  
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 2em;
	height: .25em;
	margin: .25em 0;
	background: rgb(255,255,255);
	z-index: 99;
}

.responsive-menu{
	display: none;
}

.expand {
	display: block !important;
	background: rgba(255,255,255,5);
  opacity: .9;
  font-family: "Quicksand",sans-serif;
  font-size: 1.1em;
	padding: 1.5em;
}

.responsive-menu ul {
	list-style-type:none;

}

.responsive-menu a {
  font-family: "Quicksand",sans-serif;
text-transform: uppercase;
font-weight: 300;
font-size: 1.3em;
line-height: 1.8em;
letter-spacing: .02em;
color: #525251;
}


@media only screen and (min-width:769px) and (max-width:1260px) {
	#imagelist img {
		width:50%;
	}

h1 {
  font-size: 1.5em;
}
	#imagelist img {
		width:100%;
	}
	.mobile-nav { 
		display:block;
		position:fixed; top:0; left:0; right:0;
	}
	nav { display:none; }
}

@media only screen and (max-width:769px) {
  
  #imagelist img {
    width:50%;
  }

h1, h3 {
  padding-top: 2.5em;
  font-size: 1.5em;
}

  #imagelist img {
    width:100%;
  }

  .project-container img {
    width:50%;
}

  .mobile-nav { 
    display:block;
    position:fixed; top:0; left:0; right:0;
  }
  nav { display:none; }
}

@media only screen and (min-device-width : 320px) and (orientation: portrait) {
  
  #MyWork {
  max-width: 100%;
 padding: .8em;
  margin: .6em;
  }

  #imagelist img {
    max-width: 200%;
    margin: auto, 0;
   
}


.personalblurb {
  font-size: .9em;
  display: inline;
  text-align: center;
  width: 70%;
  padding-top: 6em;
  padding-left: 5em;
  
}

.personalprojects {
  padding-bottom: 0em;
}

.project-container img {
  width: 105%;

}
h1, h3 {
  text-align: center;
  font-size: 1.3em;
  padding-left:.5em;
  padding-top: 6em;
}

h3 {
  margin-top: 0em;
}

  .mobile-nav { 
    display:block;
    position:fixed; top:0; left:0; right:0;
  }

  nav { display:none; }

.aboutmecontainer {
  width: 60%;
}
  .aboutme-about {
    font-size: .8em
  }

  .picofme img {
   display: none;
  
  }
}

