body {
	background: url("images/palms.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
<<<<<<< Updated upstream
	font-family: 'Century Gothic', monospace;
	padding: 0 20px;
}
a { }
h1 {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
=======
	font-family: 'Josefin Sans'; sans-serif;
	padding: 0 20px;
	text-align: center;
}
#intro {
		text-align: center;
}

#maincopy{
	text-align: left;
} 

a { 
	color: rgb(235,217, 81);
}
h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 45px;
	letter-spacing: 8px;
	text-align: center;
	text-transform: uppercase;
}
h2 {
	color: rgb(235,217, 81);
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

h3 {
	color: rgb(235,217, 81);
	font-family: 'Open Sans', sans-serif;
	font-size:30px;
	text-align: center;
	letter-spacing: 2px;
>>>>>>> Stashed changes
}
	
hr {
  width: 600px;
}
<<<<<<< Updated upstream
p { }
ul { }
#slogan {
	color:#C2C2D6;
	font-size: 20px;
	font-style: italic;
	text-align: center;
=======
p { 
	font-size: 20px;
	line-height: 1.5em
>>>>>>> Stashed changes
}
ul { 
	font-size: 20px;
	line-height: 1.5em
}
#slogan {
	color: #fff;
	font-family: 'Josefin Sans'; sans-serif;
	font-size: 25px;
	text-align: center;
}