/* MAIN */

*{margin:0;padding:0;box-sizing:border-box;}

body {
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
  font-size: 16px;
}

title {
	text-transform: uppercase;
}

span {
	text-decoration: underline;
}

a {
	text-decoration: none;



/* NAV BAR */

}
#nav {
margin: 100px auto;
width: 1000px;

}

.nav-left {
float: left;
width: 241px;
margin-left: 86px;
margin-top: 26px;
}

.nav-left a:link, .nav-left a:visited {
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 14px;
color: #535352;
letter-spacing: 2px;
}

.nav-left a:hover {
color: #D7E01F;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 500ms;
}

.nav-left-1 {
float: left;
width: 120px;
border-right: 1px solid #959595;
text-align: justify;
padding-top:26px;
height: 85px;
}

.nav-left-2 {
float: left;
width: 120px;
text-align: justify;
padding-left: 30px;
padding-top:26px;
height: 54px;
}

.nav-left-clear {
clear: both;
}

.logo {
display: block;
float: left;
text-align: center;
width: 345px;
}

.nav-right {
float: right;
width: 241px;
margin-right: 86px;
margin-top: 26px;
}

.nav-right a:link, .nav-right a:visited {
font-family: "Open Sans",sans-serif;
font-weight: 800;
font-size: 14px;
line-height: 14px;
color: #535352;
letter-spacing: 1px;
}

.nav-right a:hover {
color: #D7E01F;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 500ms;
}

.nav-right-1 {
float: left;
width: 120px;
border-right: 1px solid #959595;
text-align: left-justify;
padding-top:26px;
height: 85px;
}

.nav-right-2 {
float: right;
width: 120px;
text-align: justify;
padding-left: 30px;
padding-top:26px;
height: 54px;
}

.nav-right-clear {
clear: both;
}

.nav-clear {
clear: both;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

/* HOMEPAGE */

.home-heading {
text-align: center;
font-family: "Quicksand",sans-serif;
text-transform: uppercase;
font-weight: 300;
font-size: 2.5em;
line-height: 1.8em;
letter-spacing: 4px;
color: #525251;
padding-bottom: 55px;
}

figure {
  vertical-align:top;
  max-width:auto;
  height: auto;
  position:relative;
  overflow:hidden;
}

.fade figcaption {
background-color: rgba(223,230,76,.6);
font-family: "Quicksand",sans-serif;
font-weight: 400;
font-size: 42px;
line-height: 14px;
text-align: center;
letter-spacing: 1px;
  position:absolute;
  top:30px;
  width:100%;
  height:100%;
  color: #525251;
  line-height:250px;
}

.fade figcaption {
	color: #535352;
  opacity:0;
  transition:opacity 0.5s ease;
}

.fade figcaption:hover {
  opacity:1;
  cursor: pointer;
}

.illustrationcontainer {
margin: 0 auto;
width: 960px;
margin-bottom: 90px;
padding-bottom: 90px;
}

.illustrations-left {
float: left;
width: 300px;
}

.illustrations-right {
float: right;
width: 630px;
}

.illustration-regular {
float: left;
width: 960px;
}

.portfolio-clear {
clear: both;
}

.illustrations-01 {
width: 300px;
height: 630px;
margin-bottom: 30px;

}

.illustrations-02 {
width: 300px;
height: 300px;
margin-bottom: 50px;
}

.illustrations-03 {
width: 630px;
height: 300px;
margin-bottom: 30px;
}

.illustrations-04 {
width: 630px;
height: 630px;
margin-bottom: 50px;
}

.illustrations-05 {
float: left;
width: 300px;
height: 300px;
margin-right: 30px;
}

.illustrations-06 {
float: left;
width: 300px;
height: 300px;
margin-bottom: 30px;
}

a:hover {
	opacity: .6;
}



/* CURRENT WORK */

.project-container {
margin: 0 auto;
width: 960px;
}

.project-images {
margin: 0 auto;
width: 960px;
padding-bottom: 30px;
}
.personalprojects {
	padding-bottom: 20px;
}


span {
 text-decoration: underline;
}

/* ABOUT ME */

.aboutme-heading {
text-align: center;
font-family: "Quicksand",sans-serif;
text-transform: uppercase;
font-weight: 300;
font-size: 2.5em;
line-height: 1.6em;
letter-spacing: 4px;
color: #525251;
margin-top: 35px;
}

.aboutmecontainer {
margin: 0 auto;
width: 960px;
}

.aboutme-about {
display: block;
margin: 47px 230px;
width: 500px;
text-align: justify;
font-family: "Lato",sans-serif;
color: #4F4E4E;
font-size: 1.1em;
line-height: 1.5em;
margin-bottom: 45px;
padding: 20px;
}

.picofme {
	display: block;
    margin-left: 400px;
    margin-right: 465px;
}

/* PERSONAL PROJECTS */

.personalblurb {
	padding-bottom: 60px;
}

p {
text-align: center;
font-family: "Lato",sans-serif;
color: #4F4E4E;
font-size: 1.1em;
font-weight: 300;
}



/* SOCIAL MEDIA */

.sayhello {
text-align: center;
font-family: "Quicksand",sans-serif;
text-transform: uppercase;
font-weight: 300;
font-size: 2.5em;
line-height: 1.2em;
letter-spacing: 3px;
color: #525251;
margin-top: 85px;
}

#socialmedia {
	display: block;
	text-align: center;
   padding: 1em;
  margin: 1.5em;
}

#socialmedia a:hover {
  opacity: .6;
 }