/* MAIN */

* {margin:0;padding:0;box-sizing:border-box;}

body {
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
  font-size: 16px;
}
span {
	font-size: 1.2em;
	text-decoration: underline;
	font-weight: 900;
}

a {
	text-decoration: none;

	}

ul {
	list-style-type: none;
}


/* NAV */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(255,255,255,5);
  opacity: .9;
  width: 100%;
}

nav {
	float: right;
	margin: 2.5em;
}

nav a {
	font-family: 'Abel' sans-serif;
	color: #535352;
	font-size: 1.6em;
	padding: 2.1em;
}

nav a:link a:visited {
font-family: 'Abel', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 1.3em;
line-height: 1.1em;
color: #535352;
letter-spacing: .1em;
}

a:hover {
color: #CFB53B;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 500ms;
}

.logo {
	float: left;
	width: 200px;
}


/*.nav-left {
float: left;
width: 12em;
margin-left: 1.7em;
margin-top: 1.3em;
}

.nav-left a:link, .nav-left a:visited {
font-family: 'Abel', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 1.3em;
line-height: 1.1em;
color: #535352;
letter-spacing: .1em;
}

.nav-left a:hover {
color: #CFB53B;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 500ms;
}

.nav-left-1 {
float: left;
width: 6em;
border-right: .05em solid #959595;
text-align: center;
padding-top: 1.3em;
height: 95px;
}

.nav-left-2 {
float: left;
width: 6em;
text-align: center;
padding-left: 1.7em;
padding-top: 1.3em;
height: 95px;
}

.nav-left-clear {
clear: both;
}

.nav-right {
float: right;
width: 12em;
margin-right: 4.3em;
margin-top: 1.3em;
}

.nav-right a:link, .nav-right a:visited {
font-family: 'Abel',sans-serif;
font-weight: 400;
font-size: 1.3em;
line-height: 1.1em;
color: #535352;
letter-spacing: .05em;
}

.nav-right a:hover {
color: #CFB53B;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 500ms;
}

.nav-right-1 {
float: left;
width: 6em;
border-right: .05em solid #959595;
text-align: center;
padding-top: 1.3em;
height: 95px;
}

.nav-right-2 {
float: right;
width: 6em;
text-align: center;
padding-left: 2em;
padding-top: 1.3em;
height: 95px;
}

.nav-right-clear {
clear: both;
}

.nav-clear {
clear: both;
}
*/


.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

/* HOMEPAGE */

.homewrapper img {
	display: block;
	margin: 0 auto;
	max-width: 95%;
}

.home-banner {
	padding-top: 10em;
	display: block;
	margin: 0 auto;
}

.home-banner img {
width: 100%;
height: 100%;
}



h1 {
	color: rgb(16,36,61);
	font-size: 2.5em;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Bitter' sans-serif;
	font-weight: 400;
	padding-top: 1.5em;
	padding-bottom: 1em;
}

h3 {

	color: #535352;
	font-family: 'Lato' sans-serif;
	font-size: 2.2em;
	font-weight: 300;
	text-align: left;
	text-transform: uppercase;
}

h4 {
	color: white;
}

p {
	padding: 0 3em 3em 3em;
	display: block;
	margin: 0 auto;
	font-family: 'Abel' sans-serif;
	font-size: 1.2em;
	font-weight: 800;
	text-align: justify;
	width: 60%;

}
.Lionheart {
	max-width: 1200px;
margin: 0 auto;
}

.Lionheart h3{
	padding-bottom: 1em;
}

.Lionheart a {
margin: 0 auto;

}

.Lionheart img {
	float:left;
	
	padding-bottom: 2em;
	padding-right: 5em;
	padding-left: 10em;
	max-width: 120%;
}

.Lionheart p {
	
	display: block;
	margin: 0 auto;
	font-family: 'Abel' sans-serif;
	font-size: 1.2em;
	font-weight: 800;
	text-align: justify;
	}


.button {
	border: 1.5px solid;
	border-color: #535352;
    display: inline-block;
    padding: 1em;
    font-family: 'Hind' sans-serif;
    font-weight: 800;
    letter-spacing: .1em;
   text-decoration: none;
    color: black;

}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #535352;
  color: white;
}

.homewrapper iframe {
	
	width: 80%;
	display: block;
	margin: 0 auto;

}

/* Stockists */


.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

/* Single page scrolling */

#page1 {
}
#page2 {
	padding-bottom: 6em;
}
#page3 {
}

#page4 {
}

#socialmedia {
text-align: center;
	display: block;
	margin: auto 0;	
}

#socialmedia a:hover {
  opacity: .6;
 }

/*********************
	Hamburger Menu
**********************/

.mobile-nav {
	display:none;
}
.menu-btn {
	background:rgb(16,36,61);
  padding:1em;
}
.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
  
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 2em;
	height: .25em;
	margin: .25em 0;
	background: rgb(255,255,255);
	z-index: 99;
}

.responsive-menu{
	display: none;
}

.expand {
	display: block !important;
	background: rgba(255,255,255,5);
  opacity: .9;
  font-family: "Bitter",sans-serif;
  font-size: 1.1em;
	padding: 1.5em;
}

.responsive-menu ul {
	list-style-type:none;

}

.responsive-menu a {
  font-family: "Abel",sans-serif;
text-transform: uppercase;
font-weight: 300;
font-size: 1.4em;
line-height: 1.8em;
letter-spacing: .02em;
color: #525251;
}


@media only screen and (max-width:769px) {
  
  #imagelist img {
    width:50%;
  }

h1, h3 {
  padding-top: 2.5em;
  font-size: 1.5em;
}

  #imagelist img {
    width:100%;
  }

  .project-container img {
    width:50%;
}

  .mobile-nav { 
    display:block;
    position:fixed; top:0; left:0; right:0;
  }
  nav { display:none; }
}
