*{margin:0;padding:0;box-sizing:border-box;}

body {
  font-family: 'Lato', sans-serif;
  background: #FFFFFF;
  font-size: 16px;
}

#menu {
margin: 75px auto;
width: 960px;
}

.menu-left {
float: left;
width: 241px;
margin-left: 86px;
margin-top: 26px;
}

.menu-left a:link, .menu-left a:visited {
font-family: "Lato",sans-serif;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
color: #535352;
letter-spacing: 2px;
}

.menu-left a:hover {
color: rgb(166,235,198);
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 500ms;
}

.menu-left-1 {
float: left;
width: 120px;
border-right: 1px solid #959595;
text-align: center;
padding-top:26px;
height: 54px;
}

.menu-left-2 {
float: left;
width: 120px;
text-align: center;
padding-top:26px;
height: 54px;
}

.menu-left-clear {
clear: both;
}

.logo {
float: left;
text-align: center;
width: 305px;
}

.menu-right {
float: right;
width: 241px;
margin-right: 86px;
margin-top: 26px;
}

.menu-right a:link, .menu-right a:visited {
font-family: "Lato",sans-serif;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
color: #535352;
letter-spacing: 2px;
}

.menu-right a:hover {
color: rgb(166,235,198);
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 500ms;
}

.menu-right-1 {
float: left;
width: 120px;
border-right: 1px solid #959595;
text-align: center;
padding-top:26px;
height: 64px;
}

.menu-right-2 {
float: right;
width: 120px;
text-align: center;
padding-top:26px;
height: 54px;
}

.menu-right-clear {
clear: both;
}

.menu-clear {
clear: both;
}


.home-banner {
text-align: center;
}

.home-banner img {
width: 100%;
height: auto;
}



header, footer {
  margin: .5em;
  font-family: 'Lato', sans-serif;
  font-size: .8em;
  text-transform: uppercase;
  color: #525251;
  text-align: center;

}

h1, h2 {
  color: rgb(166,235,198);
  font-family: 'Bitter', serif;
  font-weight:700;
  font-size: 3em;
  letter-spacing: .1em;
  text-align: center;
}

p {

  padding: 1.5em;
  margin: 2.5em;
  font-size: 1.1em;
  line-height: 1.5em;
}

a {
  font-family: 'Lato' sans-serif;
  color: rgb(166,235,198);
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}


.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
/*@media screen and (min-width: 600px) {*/
  

.WhatRad {
margin: 64px 150px;
width: auto;
text-align: justify;
font-family: "Lato", sans-serif;
color: #525251;
font-size: 17px;
line-height: 27px;
}

#CassieWork {
    padding: 2.5em;
  margin: 1.5em;

  }

#imagelist {
  font-size: 0;
  width: 836px;
  margin: 0 auto;
 }


 #imagelist a {
  margin: 2px;
  border: 4px, solid, transparent;
  display: inline-block;
 }

#mainimage a:hover {
  opacity: .6;
}
#mainimage {
  padding: 1.5em;
  margin: .5em;
}

 #imagelist a:hover {
  opacity: .8;
 }

 #socialmedia {
  margin: 1em;
 }

 #socialmedia a:hover {
  opacity: .6;
 }

 #Copyright {

  font-family: 'Lato'sans-serif;
  text-align: center;
  font-size: .5em;
  color: #525251;
}

/* } */
