
body {
  font-family: 'Open Sans' sans-serif;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  font-size: 10px;
}

header {
  background: rgb(235,217,81);
  padding: 2.5em;
  margin: 1.5em;
}

footer {
  background: rgb(235,217,81);
  font-family: 'Open Sans' sans-serif;
  font-size: 1.5em;
  padding: .5em;
  margin: 1.5em;
  text-align: center;
  text-decoration:none;

}


h1 {
  font-family: 'Open Sans', 300;
  font-size: 5.5em;
  letter-spacing: 8px;
  text-align: left;
  text-transform: uppercase;
}

h2 {
  font-family: 'Open Sans', 300;
  font-size: 5.5em;
  letter-spacing: 8px;
  text-align: center;
  text-transform: uppercase;
}

a {
  color: #000000;
  text-decoration: none;
}

span {
  text-decoration: underline;
 }

p {
  font-size: 1.5em;
  color: white;
  font-family: 'Open Sans' sans-serif;
  text-transform: uppercase;

}
.nav ul {
  list-style: none;
  background-color: #000000;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Open Sans', sans-serif;
  font-size: .5em;
  display: inline-block;
}
 
.nav a {
  text-decoration: underline;
  color: #000000;
  display: block;
}
 
.nav a.active {
  background-color: rgb(235,217,81);
  color: #000000;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

#MyWork {
    padding: 2.5em;
  margin: 1.5em;

  }
 
 #imagelist {
  font-size: 0;
  width: 1500px;
  margin: 0 auto;
 }

 #imagelist a {
  opacity: .6;
 }

 #imagelist a:hover {
  opacity: 1;
 }
 
 #socialmedia {
   padding: 1em;
  margin: 1.5em;
 }

  